.tab.overview {

    .streams {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-flow: row;

        .stream-item {
            display: block;
            padding: 30px;
            border: 1px solid var(--light-border-color);
            border-radius: 10px;
            position: relative;
            min-height: 120px;

            .stream-name {
                font-size: 25px;
            }

            .stream-type {
                font-size: 10px;
            }

            .stream-viewers {
                position: absolute;
                right: 20px;
                top: 30px;
                padding: 0 0 17px 0;
                border-radius: 5px;
                font-size: 10px;
                overflow: hidden;
                text-transform: uppercase;


                .stream-viewers-number {
                    display: inline;
                    padding: 30px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    font-size: 25px;
                    vertical-align: middle;
                }
            }

            .stream-label {
                display: inline-block;
                position: absolute;
                bottom: 5px;
                width: 100%;
                text-align: center;
                left: 0;
            }

            .stream-bytes {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                font-size: 10px;
                text-transform: uppercase;
                background-color: var(--light-med-bg);
                padding: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .stream-label {
                    position: relative;
                    width: initial;
                    text-align: left;
                    bottom: initial;
                    display: inline-block;
                    margin-right: 5px;
                }

                .stream-bytes-sent-number {
                    font-weight: bold;
                    display: inline-block;
                }

                .stream-bytes-received-number {
                    font-weight: bold;
                    display: inline-block;
                }
            }


            video {
                margin-top: 10px;
                position: relative;
                width: 100%;
                height: initial;
                background-color: var(--light-bg);
                display: block;
            }
        }
    }
}