@import './typo.css';
@import './variables.css';
@import './form.css';

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--page-bg);
    color: var(--text-color);
}

* {
    font-family: var(--font-family);
    font-weight: 300;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

video {
    position: absolute;
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
    border: none;

    &:nth-of-type(1) {
        top: 0;
        left: 0;
    }

    &:nth-of-type(2) {
        top: 0;
        right: 0;
    }

    &:nth-of-type(3) {
        bottom: 0;
        left: 0;
    }

    &:nth-of-type(4) {
        bottom: 0;
        right: 0;
    }
}

.tab-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--page-bg);
    z-index: 1000;
    padding: 10px 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    button {
        margin-right: 10px;
        background-color: var(--light-med-bg);
        font-size: 16px;
        padding: 10px 30px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: var(--color-secondary);
        }

        &.active {
            background-color: var(--color-primary);
        }

        svg {
            display: block;
            margin: auto;
        }
    }
}

.tab {
    width: 1200px;
    margin: 100px auto;

    .group-navigation {
        padding: 5px 0;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        button {
            margin-right: 10px;
            background-color: var(--light-med-bg);
            font-size: 12px;
            padding: 10px 30px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

            &:hover {
                background-color: var(--color-secondary);
            }

            &.active {
                background-color: var(--color-primary);
            }
        }
    }

    .groups {
        display: flex; /* Aktiviert Flexbox für den Container */
        flex-wrap: nowrap; /* Stellt sicher, dass die Elemente in einer Zeile bleiben, wenn Platz vorhanden ist */
        justify-content: space-between;

        .group {
            flex-grow: 1;
            flex-basis: 0;


            h2 {
                margin: 0 0 30px 0;
            }

            .item {
                width: 100%;

                input[type=text], select {

                }
            }
        }
    }

    .item {
        display: inline-block;
        position: relative;
        min-height: 60px;

        button.clear {
            position: absolute;
            right: 52px;
            top: 27px;
            padding: 0 2px;
            background-color: var(--light-med-bg);
            color: var(--text-light-color);
        }

        &:hover {
            button.clear {
                background-color: var(--color-primary);
                color: white;
            }
        }

        &.switch {
            label {
                position: absolute;
                left: 50px;
                top: 22px;
            }

            input[type=checkbox] {
                transform: translateY(0px);
            }
        }

        .tooltip {
            position: absolute;
            max-width: calc(100% - 50px);
            min-width: 200px;
            background-color: var(--color-primary);
            color: white;
            padding: 10px;
            border-radius: 6px;
            z-index: 1000;
            font-size: 12px;
            line-height: 16px;
            left: 0;
            top: 16px;
        }

        &.rows {

            &:hover {
                button.clear {
                    background-color: var(--light-med-bg);
                }
            }

            .multi-row {
                .row {
                    position: relative;
                    margin-bottom: 5px;

                    button {
                        top: 10px;
                    }

                    &:hover {
                        button {
                            background-color: var(--color-primary);
                        }
                    }
                }
            }

            .permissions {
                .row {
                    display: flex;
                    margin-right: 30px;

                    select {
                        flex: 1;
                    }

                    input {
                        flex: 3;
                    }

                    button {
                        top: 10px;
                        right: 10px;
                    }

                    &:hover {
                        button {
                            background-color: var(--color-primary);
                        }
                    }
                }
            }
        }

        .checkboxes {
            width: 100%;

            .box {
                display: inline-block;
                overflow: hidden;
                padding: 5px 0;
                margin-right: 20px;

                label {
                    margin: 0;
                    display: inline-block;
                }

                input {
                    display: inline-block;
                    margin: 0 50px 3px 0;
                }
            }
        }
    }
}

.users {
    margin-top: 150px;

    .user {
        position: relative;
        flex-wrap: wrap;
        gap: 10px;
        width: 600px;

        border: 1px solid var(--light-border-color);
        border-radius: 5px;
        margin: 0 auto 30px auto;
        padding: 20px 30px;

        .index {
            position: absolute;
            left: -200px;
            top: -10px;
            font-size: 100px;
            font-weight: 900;
        }

        input {
            width: calc(100% - 20px);

        }

        .field {
            flex: 0 0 auto;
            margin-bottom: 10px;

            &.username {
                flex: 1;

                input {
                    font-weight: 800;
                    font-size: 25px;
                    line-height: 50px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border: none;
                    border-bottom: 2px solid var(--light-border-color);
                }
            }

            &.password {
                flex: 1;
            }

            &.permissions {
                flex: 1;

                .row {
                    display: flex;
                    margin-bottom: 5px;

                    select {
                        flex: 1;
                    }

                    input {
                        flex: 3;
                    }
                }
            }

            &.ips {
                input {
                    margin-bottom: 5px;
                }
            }
        }
    }

    button {
        &.add {
            margin: auto;
            display: block;
            padding-left: 45px;
            position: relative;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }


        }

        &.delete {
            position: absolute;
            left: -200px;
            top: 150px;
            background-color: var(--color-primary-conter);
            padding-left: 45px;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }
        }
    }
}

.paths {
    .path {
        display: grid;
        grid-template-columns: 20% 1fr; /* links fix 20%, rechts flexibel */
        grid-auto-rows: auto;
        width: 100%;
        gap: 8px;
        align-items: start;

        border: 1px solid var(--light-border-color);
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 10px 0;
        position: relative;

        .name {
            grid-column: 2;
            grid-row: 1;
            align-self: start;
            height: 70px;

            &::before {
                content: "/";
                position: absolute;
                font-size: 35px;
                color: var(--light-border-color);
                left: 10px;
                bottom: 8px;
                width: 20px;
                height: 50px;
            }

            input[type=text] {
                font-weight: 400;
                font-size: 25px;

                border: none;
                border-bottom: 2px solid var(--light-border-color);
                padding-left: 25px;
                width: calc(80% - 100px);
            }

            select {
                font-size: 25px;
                right: 26px;
                position: absolute;
                border: none;
                border-bottom: 2px solid var(--light-border-color);
            }

            button {
                top: 35px;
            }
        }

        .group-navigation {
            grid-column: 1;
            grid-row: 1 / span 2;
            padding: 20px 30px 0 30px;
            box-sizing: border-box;

            button {
                width: 100%;
                margin-bottom: 10px;
                padding: 10px 0;
            }
        }

        .groups {
            grid-column: 2;
            grid-row: 2;
            align-self: start;
        }
    }

    button {
        &.add {
            margin: auto;
            display: block;
            padding-left: 45px;
            position: relative;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }
        }

        &.delete {
            position: absolute;
            left: 30px;
            bottom: 20px;
            background-color: var(--color-primary-conter);
            padding-left: 45px;

            svg {
                width: 20px;
                height: 20px;
                position: absolute;
                left: 0;
                top: 0;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 3px;
            }
        }
    }
}

.item {
    margin-bottom: 5px;

    &.select-text {
        select {
            width: calc(100% - 32px);
            float: none;
        }

        input[type=text] {
            display: none;
        }

        &.custom {
            select {
                width: 20%;
                margin-right: 5px;
                float: left;
            }

            input[type=text] {
                display: block;
                width: calc(80% - 56px);
            }
        }
    }

    &.name {
        &.custom {
            input[type=text] {
                width: calc(80% - 70px);
            }
        }
    }

    &.help {
        label {
        }

        button {
            opacity: 1;
            svg {
                path {
                    &:nth-child(1) {
                        stroke: var(--color-primary);
                        fill: var(--color-primary);
                    }
                }
            }
        }
    }
}