.tab-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--page-bg);
    z-index: 1000;
    padding: 10px 0 10px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    button {
        margin-right: 10px;
        background-color: var(--light-med-bg);
        font-size: 16px;
        padding: 10px 30px;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: var(--color-secondary);
        }

        &.active {
            background-color: var(--color-primary);
        }

        svg {
            display: block;
            margin: auto;
        }
    }
}